@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
  margin:0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  background-image: url("https://i.pinimg.com/236x/b1/c2/ee/b1c2ee758fe5e010f0f03594324da7bf--website-symbol-dope-fashion.jpg");
}
